@font-face {
    font-family: "Neue Haas Grotesk Pro";   /*Can be any text*/
    src: local("NHaasGroteskTXPro-55Rg"),
        url("../../assets/fonts/NHaasGroteskTXPro-55Rg.ttf") format("truetype");
}

@font-face {
    font-family: "Neue Haas Grotesk Pro - Bold";   /*Can be any text*/
    src: local("NHaasGroteskTXPro-75Rg"),
        url("../../assets/fonts/NHaasGroteskTXPro-75Bd.ttf") format("truetype");
}

$red-color: #e54040;
$green-color: #25a764;
$black-color: #020203;
$gray-color: #929396;

$h1-font-size: 2.8rem;
$h2-font-size: 2rem;
$p-font-size: 1.6rem;

h1, h2, h3, h4, p {
    margin: 0rem;
}

* {
    font-family: "Neue Haas Grotesk Pro";
}

.m-font--bold {
    font-family: "Neue Haas Grotesk Pro - Bold"!important;
}
